<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BookComment">

  <resultMap type="BookComment" id="bookcommentmap">
  	<id column="bookComment_id" property="bookComment_id"/>
  	<result column="isbn" property="isbn"/>
  	<result column="content" property="content"/>
  	<result column="regdate" property="regdate"/>
  	<result column="modidate" property="modidate"/>
  	<association column="member_id" property="member" javaType="Member" select="Member.select"/>
  </resultMap>
  
	<sql id="sql_select">
		select bookComment_id, member_id, isbn, content, regdate, modidate from bookcomment
	</sql>

	<select id="selectAll" resultMap="bookcommentmap">
		<include refid="sql_select"/> order by bookComment_id desc
	</select>
	
	<select id="select" parameterType="int" resultMap="bookcommentmap">
		<include refid="sql_select"/> where bookComment_id=#{bookComment_id}
	</select>
	
	<select id="selectByMember" parameterType="int" resultMap="bookcommentmap">
		<include refid="sql_select"/> where bookComment_id=#{bookComment_id}
	</select>
	
	<select id="selectByIsbn" parameterType="String" resultMap="bookcommentmap">
		<include refid="sql_select"/> where isbn=#{isbn}
	</select>
	
	<insert id="insert" parameterType="BookComment">
		insert into member(member_id,isbn,content)
		values(#{member.member_id}, #{isbn}, #{content})
	</insert>
	
	<update id="update" parameterType="BookComment">
		update bookcomment 
		set content=#{content}, modidate=#{modidate} 
		where bookComment_id=#{bookComment_id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from bookcomment where bookComment_id = #{bookComment_id}
	</delete>


</mapper>
