/*-----------------------------------
모달 팝업
-----------------------------------*/
/* The Modal (background) */
#full {
	position: fixed; /* Stay in place */
	z-index: 10; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
	font-size: 0.8em;
	text-align: center;
}

/* Modal Content */
#view {
	position:fixed;
	width: 480px;
	height:360px;
	left:50%;
	top:20%;
	margin-left:-240px;
	margin-top:-180px;
	z-index:11;
	background-color: #fff;	
	margin-top: 100px;
	border: 1px solid #888;
	border-radius:8px;
	text-align: center;
	padding: 5%;
}

/*loaded login form##########################################################################*/

.login_wrap {
   width:100%;
   height: 100%;
   position: relative;
}
.login_wrap form {
   width: 100%;
   height: 100%;
}
fieldset {
   border: none;
}
legend {
   display:inline-block !important;
   font-size: 24px;
   font-weight: bold;
   padding-bottom: 10px;
}
.login_area {
   width: 100%;
   height: 150px;
}
.input_info {
   width: 100%;
   overflow: hidden;
}
.id_area, .pass_area {
   width: 80%;
   height: 40px;
   float: left;
}
.login_area input {
   display: block;
   width: 99%;
   height: 99%;
   text-indent: 10px;
}
.id_area {
}
.login_btn {
   width: 20%;
   height: 80px;
   padding-left: 0;
   float: right;
}
.login_btn a {
   display: block;
   width: 99%;
   height: 99%;
   background-color: #FF681B;
   color: #fff;
   text-align: center;
   line-height: 68px;
   border: 1px solid #B95304;
}
.search_id_pw {
   font-size: 12px;
   text-align: right;
   padding: 20px 0;
}
.search_id_pw a,.search_id_pw span{
	display:inline-block !important;
}
.sign_up_area {
   width: 99%;
   height: 35px;
   border: 1px solid #ccc;
   line-height: 35px;
   text-align: center;
}
.sign_up_area a {
   display:block;
   width:100%;
   height:100%;
}


/*loaded login form##########################################################################*/
@media screen and (min-width: 768px) {
	#full {font-size: 0.9em;}
	#view {width: 500px;}
}




